<%-- שורה ראשונה נקייה לחלוטין - בלי CodeFile ובלי Inherits! --%>
<%@ Master Language="C#" %>

<!DOCTYPE html>
<html lang="he" dir="rtl">
<head runat="server">
    
    <title>אתר משלוחים</title>
    
    <style>
        /* עיצוב הרקע של כל המסך */
        body { 
            background-color: #e6e6e6; 
            font-family: Arial; 
            margin: 0; 
            padding: 0; 
            direction: rtl; 
        }
        
        /* עיצוב הפס העליון */
        #top-bar { 
            background-color: white; 
            height: 60px; 
            padding: 15px; 
            border-bottom: 2px solid black; 
        }
        
        /* עיצוב הלוגו */
        #logo { 
            float: right; 
            font-size: 30px; 
            font-weight: bold; 
            margin-right: 20px; 
        }
        
        /* עיצוב הקישור של הלוגו */
        #logo a { 
            text-decoration: none; 
            color: black; 
        }
        
        /* עיצוב התפריט */
        #menu { 
            float: left; 
            margin-top: 10px; 
        }
        
        /* עיצוב הקישורים בתפריט */
        #menu a { 
            text-decoration: none; 
            color: blue; 
            margin-right: 15px; 
            font-size: 18px; 
        }
        
        /* עיצוב הקופסה האמצעית איפה שרואים את שאר האתר */
        #main-content { 
            width: 800px; 
            margin: 0 auto; 
            margin-top: 30px; 
            background-color: white; 
            min-height: 400px; 
            padding: 20px; 
            border: 1px solid black; 
        }
    </style>
    
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
    
</head>
<body>
    
    <div id="top-bar">
        
        <div id="logo">
            <a href="Default.aspx">Wolt Clone</a> 
        </div>
        
        <div id="menu">
            <a href="Default.aspx">דף הבית</a> 
            <a href="Restaurants.aspx">מסעדות</a> 
            <a href="Gallery.aspx">גלריה</a> 
            <a href="About.aspx">אודות</a> 
            
            <%-- בודק אם אין אף אחד שמחובר לאתר --%>
            <% if (Session["user"] == null && Session["nihol"] == null) { %>
                
                <a href="login.aspx">התחברות</a> 
                <a href="Signup.aspx">הרשמה</a> 
                
            <% } else { %>
                
                <a href="Order.aspx">הזמנה</a> 
                <a href="Logout.aspx">התנתק</a> 
                
            <% } %>
            
            <%-- בודק אם מי שמחובר הוא מנהל --%>
            <% if (Session["nihol"] != null) { %>
                
                <a href="showMembers.aspx" style="color: red;">ניהול</a> 
                
            <% } %>
        </div>
        
        <%-- בודק אם יש שם שמור בזיכרון --%>
        <% if (Session["name"] != null) { %>
            
            <div style="float: left; margin-left: 20px; color: green; font-weight: bold; margin-top: 10px;">
                שלום, <%= Session["name"] %>! 
            </div>
            
        <% } %>
        
    </div>

    <div id="main-content">
        
        <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
        
    </div>

</body>
</html>